@import '../../styles/common.scss';

.faqContainer {
  width: 100%;
  background: rgb(246, 248, 255);
}
.faqWrapper {
  width: 100%;
  max-width: 960px;
  padding:68px 0;
  margin: 0 auto;
  background: transparent;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  .faqTitle {
    font-size: 26px;
    color: #1C1C20;
    margin-bottom: 0;
    @include bigTitle;
  }
  .titleLine {
    @include titleLine
  }
  .faqSection {
    width: 100%;
    margin: 72px 0 0 0;
  }
  .ant-collapse{
    border:none;
  }
  .ant-collapse > .ant-collapse-item{
    border-bottom:2px solid #D3DCEE;
  }
  .ant-collapse .ant-collapse-item .ant-collapse-header{
    font-size: 18px;
    font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
    font-weight: 400;
    color: #1C1C20;
    line-height: 56px;
  }
  .ant-collapse-content > .ant-collapse-content-box p{
    font-size: 14px;
    font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
    font-weight: 400;
    color: #5F5E61;
    line-height: 25px;
  }
}
.faqStillCon{
  text-align: center;
  background: #EEF1FF;
  padding: 28px 0 60px;
  h2 {
    font-size: 22px;
    font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    font-weight: 600;
    color: #2713E1;
    line-height: 32px;
  }
  p{
    font-size: 17px;
    font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    font-weight: 600;
    max-width: 980px;
    color: #9092A7;
    margin: 0 auto;
    line-height: 24px;
  }
}

@media screen and (max-width: 750px) {
  .faqWrapper {
    padding: 43px 0;
    .faqTitle {
      font-size: 0.85rem;
      color: #241515;
      margin-bottom: 0;
      @include bigTitle;
      line-height: 17px;
    }
    .faqSection {
      margin: 36px 0 0 0;
    }
    .ant-collapse .ant-collapse-item .ant-collapse-header{
      font-size: 0.85rem;
      line-height: 32px;
    }
    .ant-collapse-content > .ant-collapse-content-box p{
      font-size: 0.75rem;
      color: #605F62;
      line-height: 17px;
    }
  }
  .faqStillCon{
    padding: 34px 0 47px;
    h2 {
      font-size: 1rem;
      line-height: 25px;
    }
    p{
      font-size: 0.75rem;
      padding: 0 18px;
      margin: 10px auto 0;
      line-height: 14px;
    }
  }
}