@mixin stepLabel {
    font-size: 14px;
    font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    font-weight: 600;
    color: #1C1C20;
    line-height: 14px;
    width: 100%;
}
@mixin stepExplain {
    font-size: 13px;
    font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
    font-weight: 400;
    color: #5F5E61;
    line-height: 18px;
}

.mainLayout{
    .ant-layout-content{
        background: #F6F8FF!important;
        position: relative;
    }

    .indexBackground {
        position: absolute;
        width: 95%;
        height: 300px;
        z-index: 0;
        background-image: url('../../assets/images/home-pic.png');
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        filter: blur(5px);
        transform: scale(1.1);
        background-size: 100%;
    }

    .indexBackgroundMobile {
        position: absolute;
        width: 100%;
        height: 300px;
        z-index: 0;
        background-image: url('../../assets/images/bg_mobile.png');
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        background-size: 100%;
    }

    .ant-modal-header {
        background: #ffffff;
        font-size: 18px;
      }

    .ant-modal-title {
      color: #1D1D1D!important;
      font-weight: bold!important;
    }
    .ant-modal-body{
        padding-top: 0;
        padding-bottom: 0
    }
    .button-spec{
        width: 120px;
        height: 35px;
        border-radius: 3px;
        border: 3px solid;
        border-image: linear-gradient(to right top, #2100D2 0%, #8BFFFE 100%) 3 3;;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        color: #2C1BD7;
        font-weight: bold;
        float: right;
        cursor: pointer;
        font-family: GoodTimesW00-Bold, GoodTimesW00;
    }
    .button-spec-mobile{
        width: 130px;
        height: 35px;
        border-radius: 3px;
        border: 3px solid;
        border-image: linear-gradient(to right top, #2100D2 0%, #8BFFFE 100%) 3 3;;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        color: #2C1BD7;
        font-weight: bold;
        float: right;
        cursor: pointer;
        font-family: GoodTimesW00-Bold, GoodTimesW00;
        -webkit-transform:scale(0.8);
    }
}



//div, button, a {
//    font-family: "TeXGyreAdventor-Bold";
//}
//p {
//    font-family: "TeXGyreAdventor-Regular";
//    font-size: 12px;
//    margin: 0;
//}
//h1, h2, h3, h4, h5{
//    color: #1D1D1D;
//}
.ant-layout-content{
    background: #F6F8FF;
}
.projectModal{
    background: #ffffff;
    padding: 0;
    border-radius: 5px;
    .ant-modal-body{
        padding-top: 0;
    }
    .ant-modal-content {
      background: #ffffff;
    }
    .ant-modal-content .ant-modal-title{
        font-weight: bold;
        font-size: 22px;
        font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    }
    p {
        margin-bottom: 0;
    }
    .ant-input-number{
        height: 42px;
    }
    .stepAddPayout{
        border: 1px dashed rgb(102, 95, 172);
    }
    .ant-input-wrapper .ant-input{
        height: 42px;
        border-radius: 5px;
        border-top: 2px solid #bdc1e4;
        border-left: 2px solid #bdc1e4;
        border-bottom: 2px solid #bdc1e4;
        padding: 0 15px;
    }
    .ant-space {
        gap: 10px!important;
    }
    .ant-modal-footer{
        height: 80px!important;
    }
    .ant-modal-footer{
        .ant-btn {
            color: #2C1BD7!important;
            border: none!important;
            font-weight: bold!important;
            height: 35px!important;
            line-height: 5px!important;
            font-size: 12px!important;
        }
        .ant-btn-primary {
            background: #481BE3!important;
            color: #ffffff!important;
            border-radius: 5px!important;
        }
    }

    .ant-modal-footer{
        padding: 20px 16px;
    }
    .ant-switch {
        background: #b7b7b7;
        width: 20px;
    }
    .ant-switch.ant-switch-checked{
        background: #3A1FF5;
    }
    input::-webkit-input-placeholder {
        color: #D3DCEE!important;
    }
    .ant-input-group-addon{
        border: 2px solid #bdc1e4;
        background: #d6cffe;
        border-radius: 5px;
    }
    .ant-select-selector{
        border: none!important;
    }
    .ant-select{
        width: 100px;
    }
    .ant-select-selection-item{
        font-size: 18px;
        font-weight: bold;
        color: #3F3D3D!important;
    }
    .ant-select-open{
        border: none!important;
    }
    .long-input .ant-select{
        width: 150px;
    }
    .ant-slider-step{
        background: #CCCDD6;
        width: 5px;
        border-radius: 2px;
    }
    .ant-slider .ant-slider-rail{
        background: #CCCDD6;
    }
    .ant-slider .ant-slider-handle{
        background: #ffffff;
    }
    .ant-input-number-input{
        width: 100%;
        height: 42px!important;
        border-radius: 3px;
        border: 2px solid #bdc1e4;
        padding: 0 15px;
    }
    .stepNumberInput .ant-input-number-input{
        border: none;
        background: none;
    }

    .ant-progress-success-bg, .ant-progress-bg{
        background: #00DAC5;
    }
    .ant-collapse-item{
        border: none;
    }
    .ant-col{
        z-index: 2;
    }
}

.ModalForm{
    .ant-form-item-label > label {
        @include stepLabel;
    }

    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
        display: inline-block;
        margin-left: 4px;
        color: #FE5164;
        font-size: 14px;
        font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
        line-height: 1;
        content: '*';
    }
    .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before, .ant-form-hide-required-mark .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
        display: none;
    }
    .ant-form-item-label{
        width: 100%;
    }

    .ant-input {
        width: 95%;
        height: 42px;
        border-radius: 5px;
        border: 2px solid #bdc1e4;
        padding: 0 15px;
    }
    .ant-input-number-input {
        width: 95%;
        height: 42px;
        border-radius: 5px;
        border: 2px solid #bdc1e4;
        padding: 0 15px;
    }
    .ant-form-item{
        display: block;
    }
    .stepNumberInput{
        height: 42px;
        border: none;
        width: 95%;
    }
    .ant-form-item-control{
        max-width: 100%;
    }
    .stepAcssessoryBtn{
        height: 42px;
        padding: 0 21px 0 21px;
    }
    .ant-btn{
        width: 160px;
        height: 35px;
        border-radius: 3px;
        border: 3px solid;
        border-image: linear-gradient(to right top, #2100D2 0%, #8BFFFE 100%) 3 3;
        font-size: 12px;
        text-align: center;
        line-height: 30px;
        color: #2C1BD7;
        font-weight: bold;
        cursor: pointer;
    }

    .ant-input-affix-wrapper .ant-input:hover, .ant-input-number {
        border-color: #ffffff!important;
        box-shadow: none;
    }
    .ant-input:hover {
        box-shadow: 0px 2px 4px 0px rgba(58, 31, 245, 0.31);
        border: 1px solid #8372F9;
    }
    .ant-input-affix-wrapper{
        width: 95%;
        height: 42px;
        border-radius: 5px;
        border: 2px solid #bdc1e4!important;
        padding: 0 15px;
    }
    .ant-input-affix-wrapper input{
        height: 37px;
        padding-left: 3px;
    }
    .ant-col-12{
        height: 140px;
    }
    .ant-form-item-extra{
        font-size: 12px;
        font-weight: bold;
    }
    #description{
        height: 100px;
        padding: 10px 20px;
    }
    #payDisclosure{
        height: 100px;
        padding: 10px 20px;
    }
}

.editRule{
    border: 2px solid #bdc1e4;
    width: 95%;
    height: 140px;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    background: #fdfeff;
    margin-top: 10px;
    cursor: pointer;
}

.payoutModel .stepAddPayout{
    border: 1px dashed rgb(102, 95, 172);
}
.ReservedModal{
    .ant-slider{
        margin-bottom: 20px;
    }
    .ant-slider-step{
        background: #00acbf;
    }
    .stepAddPayout{
        border: 1px dashed rgb(102, 95, 172);
        margin: 20px 0 5px 0;
    }
}
.IncentivesModalLeft {
    .ant-input-number{
        .ant-input-number-handler-wrap{
            border: 2px solid #bdc1e4;
            border-left: none;
        }
    }
    .ant-slider{
        .ant-slider-track{
            background: #665FAC;
        }
        .ant-slider-handle{
            background: #B1B1B1;
            border-color: #665FAC;
        }
        .ant-slider-rail{
            background: #afacd5;
        }
        .ant-slider-step{
            background: #665FAC!important;
        }
    }
    .ant-slider:hover {
        .ant-slider-track{
            background: #665FAC;
        }
        .ant-slider-handle{
            background: #665FAC!important;
            border-color: #665FAC!important;
            box-shadow: 0 0 0 2px #afacd5;
        }
        .ant-slider-rail{
            background: #afacd5;
        }
    }

}

.IncentivesModalRight {
    .ant-input-number{
        .ant-input-number-handler-wrap{
            border: 2px solid #bdc1e4;
            border-left: none;
        }
    }
    .ant-slider{
        .ant-slider-track{
            background: #665FAC;
        }
        .ant-slider-handle{
            background: #B1B1B1;
            border-color: #665FAC;
        }
        .ant-slider-rail{
            background: #afacd5;
        }
        .ant-slider-step{
            background: #665FAC!important;
        }
    }
    .ant-slider:hover {
        .ant-slider-track{
            background: #665FAC;
        }
        .ant-slider-handle{
            background: #665FAC!important;
            border-color: #665FAC!important;
            box-shadow: 0 0 0 2px #afacd5;
        }
        .ant-slider-rail{
            background: #afacd5;
        }
    }

}


.numberSlier {
    .ant-slider-step{
        background: #00acbf!important;
    }
}
.IncentivesModalRight {
    .ant-slider{
        margin-bottom: 28px;
    }
    .ant-slider-step{
        background: #e3e3e3;
    }
}

.editIcon{
    margin-left: 10px;
    cursor: pointer;
    padding-top: 6px;
}
.fundingSet{
    .stepNumberInput{
        height: 46px;
        border: 2px solid #b4bae1;
    }
    .stepAcssessoryBtn{
        height: 42px;
    }
    .ant-input-number-input{
        height: 41px;
    }
}
.fundUsStyle{
    .stepNumberInput{
        height: 46px;
        border: 2px solid #b4bae1;
    }
    .stepAcssessoryBtn{
        height: 42px;
    }
    .ant-input-number-input{
        height: 41px;
    }
}
.payButton{
    width: 100%;
    height: 40px;
    border-radius: 4px!important;
    color: #ffffff!important;
    background: #481BE3!important;
    box-shadow: 0px 2px 9px 0px rgba(58, 31, 245, 0.41);
}
.chartsStyle {
    .ant-select.small .ant-select-selector{
        border: 1px solid #b4bae1!important;
    }

}

.leftChartsText{
    border: 1px solid #b4bae1;
    border-radius: 3px 0 0 3px;
    padding: 0 8px;
    line-height: 28px;
    height: 30px;
}
.rightChartsText{
    border: 1px solid #b4bae1;
    border-radius: 0 3px 3px 0;
    padding: 0 8px;
    border-left: none;
    line-height: 28px;
    height: 30px;
}
.chartsStyle{
    .ant-space-align-center{
        gap: 0!important;
    }
}

.fullSlider{
    .ant-slider-step{
        background: #665FAC;
    }
    .ant-slider-handle{
        background: #665FAC;
        border-color: #665FAC;
    }
}
.fullSlider:hover {
    .ant-slider-track{
        background: #665FAC;
    }
    .ant-slider-handle{
        background: #665FAC!important;
        border-color: #665FAC!important;
        box-shadow: 0 0 0 2px #afacd5;
    }
    .ant-slider-rail{
        background: #afacd5;
    }
}

.fullSliderHalf{
    .ant-slider-track{
        background: #665FAC;
    }
    .ant-slider-handle{
        background: #B1B1B1;
        border-color: #665FAC;
    }
    .ant-slider-rail{
        background: #afacd5;
    }
}
.fullSliderPosses{
    .ant-progress-bg{
        background-color: #665FAC;
    }
}
.fullSliderHalf:hover {
    .ant-slider-track{
        background: #665FAC;
    }
    .ant-slider-handle{
        background: #665FAC!important;
        border-color: #665FAC!important;
        box-shadow: 0 0 0 2px #afacd5;
    }
    .ant-slider-rail{
        background: #afacd5;
    }
}

.progres-mine{
    .ant-progress-bg{
        background-color: #00DAC5;
    }
}
.distribution-main{
    .main-ui{
        color: #6B75FF!important;
    }
}