@import '../../../styles/common.scss';

.proCardWrapper {
    background: linear-gradient(180deg, rgba(127, 251, 206, 1), rgba(161, 125, 255, 0.78), rgba(103, 44, 255, 1));
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 1px rgba(144, 199, 202, 0.5);
}

.proCardCon {
    max-width: 476px;
    border-radius: 4px;
    // border: 2px solid;
    // border-image: linear-gradient(180deg, rgba(127, 251, 206, 1), rgba(161, 125, 255, 0.78), rgba(103, 44, 255, 1)) 2 2;
    transition: border-color 120ms ease-out;
    // clip-path: inset(0 round 6px);
    padding: 31px 29px 43px 19px;
    background: #ffffff;
    cursor: pointer;
    @include flexCenter;
    
    &.homeProCardCon {
        max-width: 514px;
        opacity: 0.99;
        .proCardConLeft {
            width: 175px;
            height: 189px;
        }
        .proCardConRight {
            .title {
                font-size: 22px;
                max-height: 50px;
                line-height: 25px;
            }
            .subTitle {
                max-height: 48px;
                font-size: 12px;
                line-height: 16px;
            }

            .proCardConRightCon {
                .proCardConRightConTop {
                    .volume {
                        font-size: 21px;
                        line-height: 24px;
                    }
                    .price {
                        font-size: 31px;
                        color: #241515;
                        line-height: 30px;
                    }
                }

                .proCardConRightConBottom {
                    span{
                        font-size: 14px;
                    }
                    .ant-progress-bg {
                        height: 9px !important;
                    }
                }
            }
        }
    }

    .proCardConLeft {
        width: 157px;
        height: 169px;
        margin-right: 24px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
  & .proCardConRight {
    flex: 1 1 auto;
    @include centerLayout;
    flex-flow: column nowrap;
    height: 160px;
    align-items: flex-start;
    justify-content: space-between;
    
    & .title {
        max-height: 46px;
        font-size: 19px;
        font-family: GoodTimesW00-Bold, GoodTimesW00;
        font-weight: 600;
        color: #232222;
        line-height: 23px;
        word-break: break-word;
        word-wrap: normal;
        white-space: normal;
        margin: 0;
    }
    & .subTitle {
        max-height: 42px;
        font-size: 11px;
        font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
        font-weight: 400;
        color: #5F5E61;
        line-height: 14px;
        overflow: hidden;
        word-break: break-word;
        word-wrap: normal;
        white-space: normal;
        margin: 0;
        text-overflow: ellipsis;
        flex: 1 1 auto;
    }
    & .archivedTip {
        width: 71px;
        height: 20px;
        background: #5F5E61;
        border-radius: 5px;
        font-size: 11px;
        text-align: center;
        font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 20px;
    }
    & .proCardConRightCon {
        @include centerLayout;
        width: 100%;

        & .proCardConRightConTop {
            @include betweenLayout;
            width: 100%;
            & .volume {
                font-size: 19px;
                font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
                font-weight: 600;
                color: #3A1FF5;
                line-height: 22px;
                margin: 0;
            }
            & .price {
                font-size: 27px;
                font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
                font-weight: 600;
                color: #241515;
                line-height: 27px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        & .proCardConRightConBottom {
            @include betweenLayout;
            align-items: center;
            width: 100%;
            span{
                width: 62px;
                font-size: 13px;
                font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
                font-weight: 600;
                color: #9092A7;
                line-height: 20px;
                margin-right: 5px;
            }
            .ant-progress-bg {
                box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }
  }
}

@media screen and (max-width: 750px) {
    .proCardWrapper {
        max-width: 640px;
        margin: 0 auto;
    }
    .proCardCon {
        max-width: 100%;
        &.homeProCardCon {
            max-width: 100%;
            .proCardConLeft {
                width: 175px;
                height: 189px;
            }
        }

        .proCardConLeft {
            width: 157px;
            height: 169px;
            margin-right: 24px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .proCardCon {
        max-width: 100%;
        padding: 18px 17px 16px 7px;
        &.homeProCardCon {
            max-width: 100%;
            .proCardConLeft {
                width: 102px;
                height: 107px;
            }

            .proCardConRight {
                height: 108px;
                flex: 1;
                
                .title {
                    max-height: 29px;
                    font-size: 0.75rem;
                    line-height: 14px;
                }
                .subTitle {
                    max-height: 27px;
                    font-size: 0.625rem;
                    line-height: 10px;
                }
                .archivedTip {
                    width: 52px;
                    height: 16px;
                    font-size: 0.625rem;
                    line-height: 16px;
                }
                .proCardConRightCon {
                    .proCardConRightConTop {
                        .volume {
                            font-size: 0.725rem;
                            line-height: 12px;
                        }
                        .price {
                            font-size: 1.125rem;
                            line-height: 1;
                        }
                    }
    
                    .proCardConRightConBottom {
                        span{
                            width: 48px;
                            font-size: 0.625rem;
                            line-height: 14px;
                        }
                    }
                }
            }
        }

        .proCardConLeft {
            width: 102px;
            height: 107px;
            margin-right: 7px;
            img {
                max-width: 100%;
                width: 102px !important;
                max-height: 100%;
            }
        }
        .proCardConRight {
            height: 108px;
            flex: 1;
            
            .title {
                max-height: 29px;
                font-size: 0.75rem;
                line-height: 14px;
            }
            .subTitle {
                max-height: 27px;
                font-size: 0.625rem;
                line-height: 10px;
            }
            .archivedTip {
                width: 52px;
                height: 16px;
                font-size: 0.625rem;
                line-height: 16px;
            }
            .proCardConRightCon {
                .proCardConRightConTop {
                    .volume {
                        font-size: 0.725rem;
                        line-height: 12px;
                    }
                    .price {
                        font-size: 1.125rem;
                        line-height: 1;
                    }
                }

                .proCardConRightConBottom {
                    span{
                        width: 48px;
                        font-size: 0.625rem;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}