@font-face {
    font-family:"GoodTimesRg-Regular";
    src:url('../assets/fonts/good-times-rg-1.ttf');
}

@font-face {
    font-family:"GoodTimesW00-Bold";
    src:url('../assets/fonts/good-times-rg-1.ttf');
}

@font-face {
    font-family:"TeXGyreAdventor-Bold";
    src:url('../assets/fonts/texgyreadventor-bold.otf');
}

@font-face {
    font-family:"TeXGyreAdventor-Regular";
    src:url('../assets/fonts/texgyreadventor-regular.otf');
}

@font-face {
    font-family:"marinfordaf";
    src:url('../assets/fonts/marinfordaf.otf');
}
