@import '../../styles/common.scss';
.homeWrapper {
  z-index: -1;
  
  .defaultSection {
    padding: 80px 40px;
    background-color: #ffffff;
  }
  & .firstSection {
    background: 
      linear-gradient(192deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%), 
      linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%), 
      linear-gradient(162deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%),
      linear-gradient(229deg, transparent 40%, rgba(73, 6, 255, 0.85) 67%, rgba(61, 136, 231, 0.85) 90%, rgba(56, 255, 221,0.85) 100%);
      
    padding-top: 130px;
    padding-bottom: 54px;
    min-height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .firstSectionContent {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
  }
  
  .firstSectionFooterCon {
    text-align: center;
  }
  & .firstSectionLeft {
    // background: linear-gradient(153deg, rgba(15, 0, 255, 0) 0%, rgba(73, 6, 255, 0.79) 27%, rgba(61, 136, 231, 0.93) 77%, #38FFDD 100%);
    // opacity: 0.65;
  }
  .firstSectionLeftCon {
    display: grid;
    a {
      font-size: 1.25rem;
      line-height: 1.5;
      font-weight: bold;
      font-family: "TeXGyreAdventor-Bold", TeXGyreAdventor !important;
    }
  }
  & .firstTitle {
    font-size: 44px;
    font-family: GoodTimesW00-Bold, GoodTimesW00;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 46px;
    margin: 30px 0 20px;
    letter-spacing: 0.1rem;
    // background: 
    //   linear-gradient(132deg, rgba(0, 255, 124, 0.3) 0%, rgba(0, 218, 255, 0.3) 32%, rgba(161, 0, 255, 0.3) 100%), 
    //   linear-gradient(195deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
    background: 
      linear-gradient(132deg,
        rgba(0, 255, 231, 1) 0%, 
        rgba(0, 231, 255, 0.67) 62%, 
        rgba(250, 178, 255,0.68)
      ),
      linear-gradient(146deg,
        hsl(0deg 0% 100%/0%), 
        hsl(305deg 100% 67%)
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .firstNote {
    font-size: 17px;
    font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 25px;
    margin-bottom: 43px;
    max-width: 600px;
  }
  
  .howWorkSectionBg {
    padding: 80px 40px;
    background-color: #ffffff;
    background: url('../../assets/images/howork-section-bg.png') no-repeat top center #ffffff;
    background-size: contain;
  }

  & .secondTitle{
    font-size: 28px;
    color: #241515;
    letter-spacing: 0.1rem;
    @include bigTitle;    
  }
  .titleLine {
    @include titleLine;
  }

  & .projectTitle{
    font-size: 24px;
    font-family: GoodTimesW00-Bold, GoodTimesW00;
    font-weight: 600;
    color: #3A1FF5;
    line-height: 28px;
    margin-bottom: 64px;
    text-align: center;
  }
  & .sectionWrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    @media screen and (max-width: 1380px) {
      .worksSectionIconTwo {
        display:none;
      }
    }
    @media screen and (max-width: 1280px) {
      .worksSectionIconOne, .worksSectionIconTwo {
        display:none;
      }
    }

    & .secondDes{
      max-width: 980px;
      margin: 28px 0 195px;
      font-size: 20px;
      font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
      font-weight: 600;
      color: #9092A7;
      text-align: center;
      line-height: 28px;
    }

    & .communityCon{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      min-height: 400px;
      max-width: 287px;
      padding: 20px 0;
      box-shadow: 0px 2px 20px 0px rgba(0, 162, 251, 0.25);
      border-radius: 15px;
      @media screen and (max-width: 1080px) {
        min-height: 430px;
      }
      @media screen and (max-width: 992px) {
        font-size: 16px;
        margin: 0 auto 20px;
        min-height: 370px;
      }
      
      h3 {
        font-size: 25px;
        font-family: GoodTimesRg-Regular, GoodTimesRg;
        font-weight: 400;
        color: #00DAC5;
        line-height: 25px;
        text-shadow: 0px 1px 6px #9EFFF1;
        margin: 36px 0 18px;
        @media screen and (max-width: 1080px) {
          font-size: 20px;
        }
      }
      p {
        font-size: 16px;
        font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
        font-weight: 400;
        color: #282828;
        line-height: 24px;
        padding: 0 20px;
        text-align: center;
        @media screen and (max-width: 1080px) {
          padding: 0 16px;
        }
      }
    }

    & .HowroksBg {
      // background: url('../../assets/images/howork-pic.png') no-repeat top center;
      // padding-bottom: 80px;
      width: 90%;
    }
    & .HoworksCon{
      display: flex;
      flex-flow: column wrap;
      max-width: 286px;
      width: 100%;
      float:left;
      text-align: right;
      
      h3 {
        font-size: 20px;
        font-family: GoodTimesRg-Regular, GoodTimesRg;
        font-weight: 400;
        color: #5A00FF;
        line-height: 26px;
        text-shadow: 0px 5px 6px #C4BAE1;
        margin-bottom: 20px;
        word-break:break-all;
      }
      p {
        font-size: 16px;
        font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
        font-weight: 400;
        color: #3B3636;
        line-height: 22px;
      }
      .HoworksConTop, .HoworksConBottom {
      }
      .HoworksConBottom{
        margin-top: 100px;
        h3 {
          color: #00DAC5;
          text-shadow: 0px 5px 6px #9EFFF1;
        }
      }
    }
  }
}
.createProjectBtn{
  width: 243px;
  height: 53px;
  font-size: 17px;
  color: #030303!important;
  @include solidBtn;
}

.allProjectsBtn{
  width: 245px;
  height: 49px;
  font-size: 17px;
  color: #2C1BD7!important;
  letter-spacing: 4px;
  font-family: GoodTimesW00-Bold, GoodTimesW00;
  border: 4px solid;
  font-weight: 600!important;
  clip-path: inset(0 round 4px);
  border-image: linear-gradient(to right top, #2100D2 0%, #8BFFFE 100%) 4 4;
}


@media screen and (max-width: 750px) {  
  .homeWrapper {
    .defaultSection {
      padding: 40px 20px;
    }
    .firstSection {
      padding-top: 216px;
      // padding-bottom: 194px;
      min-height: 490px;
      background: 
        linear-gradient(188deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%),
        linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%),
        linear-gradient(168deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%),
        linear-gradient(180deg, transparent 0%, rgba(73, 6, 255, 0.94) 54%, rgba(61, 136, 231, 0.94) 90%, rgba(56, 255, 221, 0.94) 100%);
    }
    .firstSectionContent {
      padding: 0 30px;
    }

    .firstSectionLeftCon {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      a {
        height: 15px;
        font-size: 0.625rem;
        line-height: 15px;
      }
    }
      
    .firstTitle {
      font-size: 1.375rem;
      line-height: 1;
      margin: 8px 0 11px;
      text-align: center;
    }
    .firstNote {
      font-size: 0.625rem;
      line-height: 12px;
      text-align: center;
    }
    .howWorkSectionBg {
      padding: 40px 20px;
    }

    .secondTitle{
      font-size: 0.85rem;
      line-height: 17px; 
    }
    

    & .projectTitle{
      font-size: 0.85rem;
      line-height: 17px;
      margin-bottom: 35px;
    }
    & .sectionWrapper{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      position: relative;

      & .secondDes{
        margin: 10px 0 39px;
        font-size: 0.625rem;
        line-height: 14px;
      }

      & .communityCon{
        margin-bottom: 26px;
        max-width: 100%;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
        min-height: auto;
        
        h3 {
          font-size: 1rem;
          line-height: 13px;
          text-shadow: 0px 0px 4px #9EFFF1;
          margin: 4px 0 10px;
        }
        p {
          font-size: 0.75rem;
          line-height: 15px;
          text-align: center;
        }
      }

      & .HowroksBg {
        // background: url('../../assets/images/howork-pic.png') no-repeat top center;
        // padding-bottom: 80px;
        width: 90%;
      }
      & .HoworksCon{
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;
        width: 100%;
        float: none;
        text-align: right;
        justify-content: space-between;
        
        h3 {
          font-size: 0.75rem;
          line-height: 14px;
          text-shadow: 0px 1px 2px #C4BAE1;
          margin-bottom: 20px;
        }
        p {
          font-size: 0.75rem;
          color: #282828;
          line-height: 13px;
        }
        .HoworksConTop, .HoworksConBottom {
          width: 40%;
        }
        .HoworksConBottom{
          margin-top: 0;
          h3 {
            color: #00DAC5;
            text-shadow: 0px 5px 6px #9EFFF1;
          }
        }
      }
    }
  
    .solutionRectangles {
      width:16px;
    }
    .projectListRectangles {
      width:12px;
    }
    .worksSectionIconOne {
      width:10px;
      display: inline-block !important;
    }
    .worksSectionIconTwo {
      width:16px;
      display: inline-block !important;
    }
    
  }
  
  .createProjectBtn{
    width: 200px;
    height: 40px;
    font-size: 0.85rem;
  }

  .allProjectsBtn{
    width: 200px;
    height: 40px;
    font-size: 0.85rem;
  }
}