@import '../../styles/common.scss';
.homeWrapper {
  margin-top: -80px;
  z-index: -1;
  & .firstSection {
    background: linear-gradient(192deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%),
      linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%),
      linear-gradient(162deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 79%, #FFFFFF 93%, #FFFFFF 100%, #FFFFFF 100%);
    padding-top: 210px;
    padding-bottom: 194px;
  }
  & .firstSectionLeft {
    // background: linear-gradient(153deg, rgba(15, 0, 255, 0) 0%, rgba(73, 6, 255, 0.79) 27%, rgba(61, 136, 231, 0.93) 77%, #38FFDD 100%);
    // opacity: 0.65;
  }
  & .firstTitle {
    font-size: 44px;
    font-family: GoodTimesW00-Bold, GoodTimesW00;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 46px;
    margin: 20px 0 16px;
    background: linear-gradient(173deg, #00FF7C 0%, #00DAFF 32%, #A100FF 100%), linear-gradient(195deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & .firstNote {
    font-size: 17px;
    font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 25px;
  }

  & .secondTitle{
    font-size: 28px;
    color: #241515;
    @include bigTitle;    
  }
  .titleLine {
    @include titleLine;
  }

  & .projectTitle{
    font-size: 24px;
    font-family: GoodTimesW00-Bold, GoodTimesW00;
    font-weight: 600;
    color: #3A1FF5;
    line-height: 28px;
    margin-bottom: 64px;
    text-align: center;
  }
  & .sectionWrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #ffffff;

    & .secondDes{
      max-width: 980px;
      margin: 28px 0 195px;
      font-size: 20px;
      font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
      font-weight: 600;
      color: #9092A7;
      line-height: 28px;
    }

    & .communityCon{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      min-height:510px;
      max-width: 287px;
      padding: 20px 36px;
      box-shadow: 0px 2px 20px 0px rgba(0, 162, 251, 0.25);
      border-radius: 15px;
      
      h3 {
        font-size: 25px;
        font-family: GoodTimesRg-Regular, GoodTimesRg;
        font-weight: 400;
        color: #00DAC5;
        line-height: 25px;
        text-shadow: 0px 1px 6px #9EFFF1;
        margin: 36px 0 18px;
      }
      p {
        font-size: 16px;
        font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
        font-weight: 400;
        color: #282828;
        line-height: 24px;
        text-align: center;
      }
    }

    & .HowroksBg {
      background: url('../../assets/images/howork-pic.png') no-repeat top center;
      padding-bottom: 80px;
      width: 100%;
    }
    & .HoworksCon{
      display: flex;
      flex-flow: column wrap;
      max-width: 286px;
      width: 100%;
      float:left;
      text-align: right;
      
      h3 {
        font-size: 20px;
        font-family: GoodTimesRg-Regular, GoodTimesRg;
        font-weight: 400;
        color: #5A00FF;
        line-height: 26px;
        text-shadow: 0px 5px 6px #C4BAE1;
        margin-bottom: 20px;
        word-break:break-all;
      }
      p {
        font-size: 16px;
        font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
        font-weight: 400;
        color: #3B3636;
        line-height: 22px;
      }
      .HoworksConTop, .HoworksConBottom {
      }
      .HoworksConBottom{
        margin-top: 116px;
        h3 {
          color: #00DAC5;
          text-shadow: 0px 5px 6px #9EFFF1;
        }
      }
    }
  }
}
.createProjectBtn{
  width: 243px;
  height: 53px;
  font-size: 17px;
  color: #030303!important;
  @include solidBtn;
}

.allProjectsBtn{
  width: 245px;
  height: 49px;
  font-size: 17px;
  color: #2C1BD7!important;
  letter-spacing: 4px;
  @include hollowBtn;
}