@import '../../styles/common.scss';
.logoTitle {
  font-size: 15px;
  font-family: marinfordaf;
  color: #ffffff;
  line-height: 15px;
  letter-spacing: 1px;
  margin-left: 8px;

  overflow-wrap: break-word;
  white-space: nowrap;
  text-align: center;

}
.hover-nav {
  font-family: GoodTimesRg-Regular, GoodTimesRg;
}
.login-btn {
  width: 135px;
  font-size: 14px;
  color: #030303!important;
  border:none;
  border-radius: 4px !important;
  height: 37px;
  @include solidBtn;
}
.logout-btn{
  // width: 102px;
  height: 38px;
  font-size: 14px;
  color: #fff!important;
  letter-spacing: 1px;
  @include hollowBtn;
}