.footerWrapper {
  width: 100%;
  padding:22px 0 32px;
  background: #000000;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  
  .logoTitle {
    font-size: 15px;
    font-family: marinfordaf;
    color: #ffffff;
    line-height: 15px;
    letter-spacing: 1px;
    margin-left: 8px;
  
    overflow-wrap: break-word;
    white-space: nowrap;
    text-align: center;
  
  }
  
  img {
    max-width: 168px;
    max-height: 36px;
    margin: 0 auto;
  }

  p{
    height: 22px;
    margin: 12px 0 24px;
    font-size: 12px;
    font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
    font-weight: 400;
    color: #9092A7;
    line-height: 22px;
  }
}