.footerWrapper {
  width: 100%;
  padding:22px 0 32px;
  background: #000000;
  text-align: center;
  
  .logoTitle {
    font-size: 15px;
    font-family: marinfordaf;
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-size: 3px 6px;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 15px;
    letter-spacing: 1px;
    margin-left: 8px;
    text-shadow: -2px -1px #ffffff;
    background-image: linear-gradient(186deg, #00fdff 25%, #000000 25%, #00fdff 50%, #fff 50%, #fff 75%, #00fdff 75%, #00fdff 100%);
  
    overflow-wrap: break-word;
    white-space: nowrap;
    text-align: center;
  }
  
  img {
    max-width: 168px;
    max-height: 36px;
    margin: 0 auto;
  }

  p{
    height: 22px;
    margin: 12px 0 24px;
    font-size: 12px;
    font-family: TeXGyreAdventor-Regular, TeXGyreAdventor;
    font-weight: 400;
    color: #9092A7;
    line-height: 22px;
  }

  a {
    display: inline-block;
    min-width: 210px;
    font-size: 14px;
    font-family: TeXGyreAdventor-Bold, TeXGyreAdventor;
    font-weight: bold;
    line-height: 14px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 750px) {
  .footerWrapper {
    padding:22px 22px 32px;
    
    img {
      max-height: 26px;
    }
  
    p {
      font-size: 0.625rem;
      line-height: 12px;
      margin: 18px 0 14px;
    }

    a {
      min-width: 72px;
      font-size: 12px;
      line-height: 18px;
      margin: 0 12px;
    }
  }
}